
    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>


<div class="row">
        <div class="col">
            <app-datos-personales></app-datos-personales>
        </div>
</div>


 <div class="row">
        <div class="col">
            <app-habilidades></app-habilidades>
        </div>
</div>


<div class="row">
        <div class="col">
            <app-experiencia-laboral></app-experiencia-laboral>
        </div>
</div>


 <div class="row">
        <div class="col">
            <app-estudios-terminados></app-estudios-terminados>
        </div>
</div>


<div class="row">
        <div class="col">
            <app-idiomas></app-idiomas>
        </div>
</div>


<div class="row">
        <div class="col">
            <app-sobre-mi></app-sobre-mi>

        </div>
</div>

<div class="row">
        <div class="col">
            <app-footer></app-footer>
        </div>
    </div>
